@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --line1: rgba(36, 177, 134, 0.6);
  --line2: rgba(24, 129, 98, 0.45);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.code-background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background: repeating-linear-gradient(
      90deg,
      var(--line1) 0px,
      var(--line2) 1px,
      transparent 1px,
      transparent 50px
    ),
    repeating-linear-gradient(
      0deg,
      var(--line2) 0px,
      var(--line1) 1px,
      transparent 1px,
      transparent 50px
    );

  filter: blur(2px);
  animation: moveCode 12s linear infinite, randomColors 10s ease-in-out infinite;
  opacity: 0.25;
  background-size: cover;
  background-position: center;
}
html, body {
  overflow-x: hidden;
}
html.light {
   color-scheme: light;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@keyframes randomColors {
  0% {
    --line1: rgba(36, 177, 134, 0.6);
    --line2: rgba(24, 129, 98, 0.45);
  }
  25% {
    --line1: rgba(0, 200, 255, 0.6);
    --line2: rgba(0, 140, 200, 0.45);
  }
  50% {
    --line1: rgba(0, 255, 180, 0.6);
    --line2: rgba(0, 190, 130, 0.45);
  }
  75% {
    --line1: rgba(120, 80, 255, 0.6);
    --line2: rgba(90, 50, 200, 0.45);
  }
  100% {
    --line1: rgba(36, 177, 134, 0.6);
    --line2: rgba(24, 129, 98, 0.45);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --line1: rgba(36, 177, 134, 0.6);
    --line2: rgba(24, 129, 98, 0.45);
  }
}
